*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Respect{
    background-color: burlywood;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
}

.container{
    width: 70%;
    height: 80%;
    background-color: whitesmoke;
    margin: 0 auto;
    display: flex;
    box-shadow: 0px 0px 16px 7px red ;
    background-image: none;
}


.title{
    height: 100%;
    width: 36%;
    background-color: darkslategray;
    color: white;
    padding: 5%;
    font-size: 25px;

}

.info{
    height: 100%;
    width: 64%;
    padding:5%;

}

.info p{
    font-size: 20px;
}


.datIcon{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.icon{
    font-size: 20px;
    display: flex;
    justify-content: ;
}

.p{
    padding-inline: 15px;
}

img{
   
}



.avtor img{
    text-align: center;
    border-radius: 30px;
    width: 20%;
    margin-top: 349px;
}



/* section */

.sematic{
    padding: 6px;
    width: 30%;
    height:100vh;;
    margin: 0 auto;
    text-align: center;
    border: 10px solid rgb(200, 200, 219);
    border-radius: 10px;

}

.head1,nav,article,.head2,footer,.head1,aside,.div1{
    border: 5px solid;
    border-radius: 5px;
    margin: 1px 0px;
}

.head1{
    width: 100%;
    height: 13%;
    border-color: rgb(216, 182, 96);
}

nav{
    width: 100%;
    height: 8%;
    border-color: ;
    border-color: rgb(184, 149, 216);

}

.Art-Div{
    width: 100%;
    height: 50%;
    display: flex;
}

article{
    width: 67%;
    height: 100%;
    border-color: rgb(184, 149, 216);
    padding: 2px;
}

.div1{
    width: 33%;
    height: 100%;
}

.head2{
    width: 100%;
    height: 14%;
    border-color: rgb(216, 182, 96);
}
 

.sec1{
    width: 100%;
    height: 14%;
    border: 4px solid ;
    margin-top: 48%;
    border-color: rgb(184, 149, 216);
    border-radius: 7px;

}

.sec2{
    width: 100%;
    height: 14%;
    margin: 3px 0px;
    border-radius: 7px;
    border: 4px solid ;
    border-color: rgb(184, 149, 216);
}

.div1{
    height: 100%;
    background-color: #fff;
    border-color: rgb(216, 182, 96);
    padding: 3px;
    margin: 3px;
    
}


aside{
    height: 46%;
    border: 6px solid rgb(200, 200, 219);
}

footer{
    border: 4px solid rgb(216, 182, 96);
    margin-top: 9px;

}


/* section3 */


.container2{
    width: 100%;
    height: 100vh;
    background-image: url(../image/background.jpg);
    display: flex;
    justify-content: center;
    align-items: end;
    background-size: cover;
    background-position: cover;
    flex-direction: column;


}


.blok{
    width: 460px;
    display: flex;
    height: 100%;
    background-color:rgba(255, 217, 0, 0.752);
    flex-direction: column;
    justify-content:space-between;
    padding: 20px;
    text-align: end;
    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0 100%);
}

.info{
    height: 280px;
    font-size: 120px;

} 

.info h1{
    font-size: 80px;
}

.read h2{
    font-size: 130%;

}
 
.info p{
    font-size:28px;
}

.clear{
    clear: both;
}